/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #ff7b00;
    color: white;
    text-align: center;
    padding: 25px;
}

.titulo-principal {
    margin: 0;
}

.frase-bienvenida {
    font-size: 18px;
}

/* Secciones */
section {
    background: white;
    margin: 20px auto;
    width: 85%;
    padding: 20px;
    border-radius: 10px;
}

/* Imagen */
.foto-perfil {
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: 15px 0;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #c1c1c1;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f57c00;
    color: white;
}

/* Formulario */
form input, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background-color: #f57c00;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d46500;
}